In [581]:
import pandas as pd
import numpy as np
from IPython.display import display_html

def display_dfs(dfs, gap=50, justify='center'):
    html = ""
    for title, df in dfs.items():  
        df_html = df._repr_html_()
        cur_html = f'<div> <h3>{title}</h3> {df_html}</div>'
        html +=  cur_html
    html= f"""
    <div style="display:flex; gap:{gap}px; justify-content:{justify};">
        {html}
    </div>
    """
    display_html(html, raw=True)

In [582]:
outlook = ['sunny','sunny','overcast','rainy','rainy','rainy','overcast','sunny','sunny','rainy','sunny','overcast','overcast','rainy']
temp = ['hot','hot','hot','mild','cool','cool','cool','mild','cool','mild','mild','mild','hot','mild']
humidity = ['high','high','high','high','normal','normal','normal','high','normal','normal','normal','high','normal','high']
windy = ['FALSE','TRUE','FALSE','FALSE','FALSE','TRUE','TRUE','FALSE','FALSE','FALSE','TRUE','TRUE','FALSE','TRUE']
play = ['no','no','yes','yes','yes','no','yes','no','yes','yes','yes','yes','yes','no']

In [583]:
df = pd.DataFrame({'outlook':outlook,'temp':temp,'humidity':humidity,'windy':windy,'play':play})

In [584]:
df

     outlook  temp humidity  windy play
0      sunny   hot     high  FALSE   no
1      sunny   hot     high   TRUE   no
2   overcast   hot     high  FALSE  yes
3      rainy  mild     high  FALSE  yes
4      rainy  cool   normal  FALSE  yes
5      rainy  cool   normal   TRUE   no
6   overcast  cool   normal   TRUE  yes
7      sunny  mild     high  FALSE   no
8      sunny  cool   normal  FALSE  yes
9      rainy  mild   normal  FALSE  yes
10     sunny  mild   normal   TRUE  yes
11  overcast  mild     high   TRUE  yes
12  overcast   hot   normal  FALSE  yes
13     rainy  mild     high   TRUE   no

## Outlook

$E(s) = \left(1-\left(P_y^2+P_N^2\right)\right)$

In [585]:
dfs = {'sunny':df[df['outlook']=='sunny'],'overcast':df[df['outlook']=='overcast'],'rainy':df[df['outlook']=='rainy'] }
display_dfs(dfs,justify='flex-start')
gini_outlook = (5/14)*(1-(2**2/25)-(3**2/25)) + (4/14)*(1-(5**2/25)-(0**2/25)) + (5/14)*(1-(3**2/25)-(2**2/25))
print("gini_outlook :",gini_outlook)

,outlook,temp,humidity,windy,play
0,sunny,hot,high,FALSE,no
1,sunny,hot,high,TRUE,no
7,sunny,mild,high,FALSE,no
8,sunny,cool,normal,FALSE,yes
10,sunny,mild,normal,TRUE,yes
,outlook,temp,humidity,windy,play
2,overcast,hot,high,FALSE,yes
6,overcast,cool,normal,TRUE,yes
11,overcast,mild,high,TRUE,yes
12,overcast,hot,normal,FALSE,yes
,outlook,temp,humidity,windy,play
3,rainy,mild,high,FALSE,yes
4,rainy,cool,normal,FALSE,yes
5,rainy,cool,normal,TRUE,no
9,rainy,mild,normal,FALSE,yes
13,rainy,mild,high,TRUE,no

gini_outlook : 0.34285714285714286

## Temperature

In [586]:
dfs = {'hot':  df[df['temp']=='hot'], 'mild': df[df['temp']=='mild'], 'cool':  df[df['temp']=='cool']}
display_dfs(dfs, justify='flex-start') 
gini_temp = (4/14)*(1-(2**2/16)-(2**2/16)) + (6/14)*( 1-(4**2/36)-(2**2/36)) + (4/14)*(1-(3**2/16)-(1**2/16))
print('gini_temp',gini_temp)

,outlook,temp,humidity,windy,play
0,sunny,hot,high,FALSE,no
1,sunny,hot,high,TRUE,no
2,overcast,hot,high,FALSE,yes
12,overcast,hot,normal,FALSE,yes
,outlook,temp,humidity,windy,play
3,rainy,mild,high,FALSE,yes
7,sunny,mild,high,FALSE,no
9,rainy,mild,normal,FALSE,yes
10,sunny,mild,normal,TRUE,yes
11,overcast,mild,high,TRUE,yes
13,rainy,mild,high,TRUE,no
,outlook,temp,humidity,windy,play
4,rainy,cool,normal,FALSE,yes
5,rainy,cool,normal,TRUE,no
6,overcast,cool,normal,TRUE,yes
8,sunny,cool,normal,FALSE,yes

gini_temp 0.44047619047619047

## Humidity

In [587]:
dfs = {'high':df[df['humidity']=='high'],'normal':df[df['humidity']=='normal']}
display_dfs(dfs,justify='flex-start')
gini_humidity = (7/14)*(1-(3**2/49)-(4**2/49)) + (7/14)*(1-(6**2/49)-(1**2/49))
print("gini_humidity :",gini_humidity)

,outlook,temp,humidity,windy,play
0,sunny,hot,high,FALSE,no
1,sunny,hot,high,TRUE,no
2,overcast,hot,high,FALSE,yes
3,rainy,mild,high,FALSE,yes
7,sunny,mild,high,FALSE,no
11,overcast,mild,high,TRUE,yes
13,rainy,mild,high,TRUE,no
,outlook,temp,humidity,windy,play
4,rainy,cool,normal,FALSE,yes
5,rainy,cool,normal,TRUE,no
6,overcast,cool,normal,TRUE,yes
8,sunny,cool,normal,FALSE,yes
9,rainy,mild,normal,FALSE,yes
10,sunny,mild,normal,TRUE,yes
12,overcast,hot,normal,FALSE,yes

gini_humidity : 0.3673469387755102

## Wind

In [588]:
dfs={'TRUE':df[df['windy']=='TRUE'],'FALSE':df[df['windy']=='FALSE']}
display_dfs(dfs,justify='flex-centre')
gini_windy = (6/14)*(1-(3**2/36)-(3**2/36)) + (8/14)*(1-(6**2/64)-(2**2/64))
print("gini_windy :",gini_windy)

,outlook,temp,humidity,windy,play
1,sunny,hot,high,TRUE,no
5,rainy,cool,normal,TRUE,no
6,overcast,cool,normal,TRUE,yes
10,sunny,mild,normal,TRUE,yes
11,overcast,mild,high,TRUE,yes
13,rainy,mild,high,TRUE,no
,outlook,temp,humidity,windy,play
0,sunny,hot,high,FALSE,no
2,overcast,hot,high,FALSE,yes
3,rainy,mild,high,FALSE,yes
4,rainy,cool,normal,FALSE,yes
7,sunny,mild,high,FALSE,no
8,sunny,cool,normal,FALSE,yes
9,rainy,mild,normal,FALSE,yes
12,overcast,hot,normal,FALSE,yes

gini_windy : 0.42857142857142855

## Gini index for columns

In [589]:
feature = ['outlook','temp','humidity','windy']
gini_index = [gini_outlook,gini_temp,gini_humidity,gini_windy]
inspection = pd.DataFrame({'features':feature,'gini_index':gini_index})
inspection

   features  gini_index
0   outlook    0.342857
1      temp    0.440476
2  humidity    0.367347
3     windy    0.428571

##### From table, you can seen that Gini index for outlook feature is lowest. So we get our root node.

![title](https://miro.medium.com/max/640/1*YNqWIpCkCklSw1IB6Q68jg.webp)

### Temperature on sunny outlook

In [590]:
dfs = {'sunny_temp_hot':df[(df['outlook']=='sunny') & (df['temp']=='hot') ],"sunny_temp_cool":df[(df['outlook']=='sunny') & (df['temp']=='cool') ],"sunny_temp_mild":df[(df['outlook']=='sunny') & (df['temp']=='mild') ]}
display_dfs(dfs, justify='flex-centre')
gini_sunny_temp = (2/5)*(1-(0**2/4)-(2**2/4)) + (1/5)*(1-(1**2/1)-(0**2/1)) + (2/5)*(1-(1**2/4)-(1**2/4))
print("gini_sunny_temp:",gini_sunny_temp)

,outlook,temp,humidity,windy,play
0,sunny,hot,high,FALSE,no
1,sunny,hot,high,TRUE,no
,outlook,temp,humidity,windy,play
8,sunny,cool,normal,FALSE,yes
,outlook,temp,humidity,windy,play
7,sunny,mild,high,FALSE,no
10,sunny,mild,normal,TRUE,yes

gini_sunny_temp: 0.2

### Humidity on sunny outlook

In [591]:
dfs = {'sunny_humidity_high':df[(df['outlook']=='sunny') & (df['humidity']=='high') ],"sunny_humidity_normal":df[(df['outlook']=='sunny') & (df['humidity']=='normal') ]}
display_dfs(dfs, justify='flex-centre')
gini_sunny_humidity = (3/5)*(1-(0**2/9)-(3**2/9)) + (2/5)*(1-(2**2/4)-(0**2/4))
print("gini_sunny_humidity:",gini_sunny_humidity)

,outlook,temp,humidity,windy,play
0,sunny,hot,high,FALSE,no
1,sunny,hot,high,TRUE,no
7,sunny,mild,high,FALSE,no
,outlook,temp,humidity,windy,play
8,sunny,cool,normal,FALSE,yes
10,sunny,mild,normal,TRUE,yes

gini_sunny_humidity: 0.0

### Wind on sunny outlook

In [592]:
dfs = {'sunny_windy_false':df[(df['outlook']=='sunny') & (df['windy']=='FALSE') ],"sunny_windy_true":df[(df['outlook']=='sunny') & (df['windy']=='TRUE') ]}
display_dfs(dfs, justify='flex-centre')
gini_sunny_windy = (3/5)*(1-(1/3)**2-(2/3)**2) + (2/5)*(1-(1/2)**2-(1/2)**2)
print("gini_sunny_humidity:",gini_sunny_windy)

,outlook,temp,humidity,windy,play
0,sunny,hot,high,FALSE,no
7,sunny,mild,high,FALSE,no
8,sunny,cool,normal,FALSE,yes
,outlook,temp,humidity,windy,play
1,sunny,hot,high,TRUE,no
10,sunny,mild,normal,TRUE,yes

gini_sunny_humidity: 0.4666666666666667

In [593]:
feature = ['temp','humidity','windy']
gini_index = [gini_sunny_temp,gini_sunny_humidity,gini_sunny_windy]
inspection = pd.DataFrame({'features':feature,'gini_index':gini_index})
inspection

   features  gini_index
0      temp    0.200000
1  humidity    0.000000
2     windy    0.466667

#### we have calculated the Gini index of all the features when the outlook is sunny. You can infer that humidity has lowest value. so next node will be humidity.

![title](https://miro.medium.com/max/1400/1*rzi4kzvwPf8srhvHt_8s5g.webp)

### Now,Lets focus on sub data for overcast outlook feature.

In [594]:
df[df['outlook']=='overcast']

     outlook  temp humidity  windy play
2   overcast   hot     high  FALSE  yes
6   overcast  cool   normal   TRUE  yes
11  overcast  mild     high   TRUE  yes
12  overcast   hot   normal  FALSE  yes

![title](https://miro.medium.com/max/720/1*0AVlUVTcEIatLHkcWaPU-w.webp)
##### As you can see that above table, all are "Yes ". Then gini index value is 0 means that out leaf nodes

### Now,Lets focus on sub data for high and normal humidity feature.

In [595]:
dfs = {'humidity_high':df[(df['outlook']=='sunny') & (df['humidity']=='high')],'humidity_normal':df[(df['outlook']=='sunny') & (df['humidity']=='normal')]}
display_dfs(dfs, justify='flex-centre')

,outlook,temp,humidity,windy,play
0,sunny,hot,high,FALSE,no
1,sunny,hot,high,TRUE,no
7,sunny,mild,high,FALSE,no
,outlook,temp,humidity,windy,play
8,sunny,cool,normal,FALSE,yes
10,sunny,mild,normal,TRUE,yes

![title](https://miro.medium.com/max/720/1*QZopB4XfW4wCqD16j0V2EA.webp)
##### we can see that when humidity is "high", then there is not chance to play game else 'normal' then chances to play game

### Temperature for rainfall outlook

In [596]:
dfs = {'rainfall_cool':df[(df['outlook']=='rainy') & (df['temp']=='cool') ],"rainfall_mild":df[(df['outlook']=='rainy') & (df['temp']=='mild') ],'rainfall_hot':df[(df['outlook']=='rainy') & (df['temp']=='hot') ]}
display_dfs(dfs, justify='flex-centre')
gini_rainy_temp = (2/5)*(1-(1/2)**2-(1/2)**2) + (3/5)*(1-(2/3)**2-(1/3)**2)
print("gini_rainy_temp:",gini_rainy_temp)

,outlook,temp,humidity,windy,play
4,rainy,cool,normal,FALSE,yes
5,rainy,cool,normal,TRUE,no
,outlook,temp,humidity,windy,play
3,rainy,mild,high,FALSE,yes
9,rainy,mild,normal,FALSE,yes
13,rainy,mild,high,TRUE,no
,outlook,temp,humidity,windy,play

gini_rainy_temp: 0.4666666666666667

### Humidity for rainfall outlook

In [597]:
dfs = {'rainfall_high':df[(df['outlook']=='rainy') & (df['humidity']=='high') ],"rainfall_normal":df[(df['outlook']=='rainy') & (df['humidity']=='normal') ]}
display_dfs(dfs, justify='flex-centre')
gini_rainy_temp = (2/5)*(1-(1/2)**2-(1/2)**2) + (3/5)*(1-(2/3)**2-(1/3)**2)
print("gini_rainy_temp:",gini_rainy_temp)

,outlook,temp,humidity,windy,play
3,rainy,mild,high,FALSE,yes
13,rainy,mild,high,TRUE,no
,outlook,temp,humidity,windy,play
4,rainy,cool,normal,FALSE,yes
5,rainy,cool,normal,TRUE,no
9,rainy,mild,normal,FALSE,yes

gini_rainy_temp: 0.4666666666666667

In [598]:
feature = ['temp','humidity','windy']
gini_index = [gini_rainy_temp,gini_rainy_temp,gini_rainy_windy]
inspection = pd.DataFrame({'features':feature,'gini_index':gini_index})
inspection

   features  gini_index
0      temp    0.466667
1  humidity    0.466667
2     windy    0.000000

![title](https://miro.medium.com/max/720/1*Uz-yN4eTIoEtVNHJBr6mlQ.webp)

### Wind for rainfall outlook

In [599]:
dfs = {'rainfall_yes':df[(df['outlook']=='rainy') & (df['windy']=='TRUE') ],"rainfall_no":df[(df['outlook']=='rainy') & (df['windy']=='FALSE') ]}
display_dfs(dfs, justify='flex-centre')
gini_rainy_windy = (2/5)*(1-(0/2)**2-(2/2)**2) + (3/5)*(1-(3/3)**2-(0/3)**2)
print("gini_rainy_windy:",gini_rainy_windy)

,outlook,temp,humidity,windy,play
5,rainy,cool,normal,TRUE,no
13,rainy,mild,high,TRUE,no
,outlook,temp,humidity,windy,play
3,rainy,mild,high,FALSE,yes
4,rainy,cool,normal,FALSE,yes
9,rainy,mild,normal,FALSE,yes

gini_rainy_windy: 0.0

![title](https://miro.medium.com/max/720/1*bsRCEeS97pu7PlhCPYxUkQ.webp)
##### From the above two table, the decision is always ‘No’ when wind is ‘strong’ and decision is always ‘Yes’ when wind is ‘weak’. So we got leaf node.